@model PagedList.IPagedList<OsWebsite.Models.DacapMenu_Result>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .tree, .tree ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .tree ul {
            margin-left: 1em;
            position: relative;
        }

            .tree ul ul {
                margin-left: .5em;
            }

            .tree ul:before {
                content: "";
                display: block;
                width: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                border-left: 1px solid;
            }

        .tree li {
            margin: 0;
            padding: 0 1em;
            line-height: 2em;
            color: #369;
            font-weight: 700;
            position: relative;
            cursor: pointer;
        }

        .tree ul li:before {
            content: "";
            display: block;
            width: 10px;
            height: 0;
            border-top: 1px solid;
            margin-top: -1px;
            position: absolute;
            top: 1em;
            left: 0;
        }

        .tree ul li:last-child:before {
            background: #fff;
            height: auto;
            top: 1em;
            bottom: 0;
        }

    .indicator {
        margin-right: 5px;
    }

    .tree li a {
        text-decoration: none;
        color: #369;
    }

    .tree li button, .tree li button:active, .tree li button:focus {
        text-decoration: none;
        color: #369;
        border: none;
        background: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        outline: 0;
    }

    .functionitem i {
        margin-right: 5px;
        font-size: 18px;
        margin-top: 5px;
    }

    .functionitem {
        padding-left: 20px;
        display: none;
    }
    /*  .functionitem a{ display:inline-block !important;}  */

    .line-through {
        text-decoration: line-through;
    }

    .tree-dm {
    color: #fff;
    background: #2984ff;
    border-left-color: white;
    }
    .tree-dm a{
        border-left-color: white !important;
    }
</style>
<script>
        jQuery(function ($) {
            $("ul li").hover(
                function () {
                    $(this).children(".functionitem").show();
                },
                function () {
                    $(this).children(".functionitem").hide();
                }
            );
        });

        $(document).ready(function () {
            $("#showbtn").click(function () {
                if ($("#tree2 ul li ul li.branch").is(":visible")) {
                    $("#tree2 ul li ul li.branch").css("display", "none");
                    $("#tree2 ul li ul li.branch ul li.branch").css("display", "none");
                }
                else {
                    $("#tree2 ul li ul li.branch").css("display", "list-item");
                    $("#tree2 ul li ul li.branch ul li.branch").css("display", "list-item");
                }
            });
        });
</script>
<section class="content-header"><h1>Quản lý Danh Mục</h1></section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box adm1"> 
                
                @Html.ActionLink("Thêm Danh Mục", "Create", "", new { @class = "btn btn-default", @style = "margin-right:8px" }) 
                <a id="showbtn" class="btn btn-default" href="#"> Ẩn - Hiện </a>
                <div style='clear: both; height: 10px'></div>              
                <div class="row">                    
                    <div class="col-lg-12">
                         <div class="row">
                             <label id="lblerror" style="color:red">@ViewBag.TontaiNews</label>
                             <div class="col-lg-6">
                                 <div class="panel panel-default">
                                     <div class="panel-heading adm2">
                                         Danh sách module
                                     </div>
                                     <div class="panel-body">
                                         <div class="dataTable_wrapper">
                                             <ul id="tree2" class="tree">
                                                 @Html.Raw(ViewBag.Module)
                                             </ul>
                                             <script type="text/javascript">
                                                $.fn.extend({
                                                    treed: function (o) {

                                                        var openedClass = 'glyphicon-minus-sign';
                                                        var closedClass = 'glyphicon-plus-sign';

                                                        if (typeof o != 'undefined') {
                                                            if (typeof o.openedClass != 'undefined') {
                                                                openedClass = o.openedClass;
                                                            }
                                                            if (typeof o.closedClass != 'undefined') {
                                                                closedClass = o.closedClass;
                                                            }
                                                        };

                                                        //initialize each of the top levels
                                                        var tree = $(this);
                                                        tree.addClass("tree");
                                                        tree.find('li').has("ul").each(function () {
                                                            var branch = $(this); //li with children ul
                                                            branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                                                            branch.addClass('branch');
                                                            branch.on('click', function (e) {
                                                                if (this == e.target) {
                                                                    var icon = $(this).children('i:first');
                                                                    icon.toggleClass(openedClass + " " + closedClass);
                                                                    $(this).children().children().toggle();
                                                                }
                                                            })
                                                            branch.children().children().toggle();
                                                        });
                                                        //fire event from the dynamically added icon
                                                        tree.find('.branch .indicator').each(function () {
                                                            $(this).on('click', function () {
                                                                $(this).closest('li').click();
                                                            });
                                                        });
                                                        //fire event to open branch if the li contains an anchor instead of text
                                                        tree.find('.branch>a').each(function () {
                                                            $(this).on('click', function (e) {
                                                                $(this).closest('li').click();
                                                                e.preventDefault();
                                                            });
                                                        });
                                                        //fire event to open branch if the li contains a button instead of text
                                                        tree.find('.branch>button').each(function () {
                                                            $(this).on('click', function (e) {
                                                                $(this).closest('li').click();
                                                                e.preventDefault();
                                                            });
                                                        });
                                                    }
                                                });
                                                $('#tree2').treed({ openedClass: 'glyphicon-folder-open', closedClass: 'glyphicon-folder-close' });
                                             </script>
                                         </div>
                                     </div>
                                 </div>
                             </div> 
                         </div>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>