@{
    /**/

    if (Session["LangWeb"] == null || Session["LangWeb"] == "")
    {
        Response.Redirect("~/Home/SetLang");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @if (int.Parse(Session["LangWeb"].ToString()) == 3)
    {
        <title>Trung tâm Chống độc - Bệnh viện Bạch Mai</title>
    }
    else
    {
        <title>Bach Mai Poison control center</title>
    }
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/Icon/Logo.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="~/skin/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/skin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/skin/css/css-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/skin/css/font-awesome.min.css" />
    <link href="~/skin/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/skin/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/skin/css/animate.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/skin/css/menumobile/css/jquery.mmenu.all.css" />
    <script src="~/skin/js/jquery-2.1.4.min.js"></script>
    <script src="~/skin/js/bootstrap.min.js"></script>
    <script src="~/skin/js/owl.carousel.js"></script>
    <script src="~/Areas/Admin/Content/js/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Content/js/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="~/skin/css/menumobile/js/jquery.mmenu.min.all.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                pagination: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true,
                autoPlay: 5000,
                navigationText: ["<i class='fa fa-angle-left' aria-hidden='true'></i>", "<i class='fa fa-angle-right' aria-hidden='true'></i>"]
            });
            $("#owl-about").owlCarousel({
                navigation: true,
                pagination: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true,
                autoPlay: 5000,
                navigationText: ["<i class='fa fa-angle-left' aria-hidden='true'></i>", "<i class='fa fa-angle-right' aria-hidden='true'></i>"]
            });
            $("#owl-project").owlCarousel({
                navigation: false, // Show next and prev buttons
                slideSpeed: 300,
                pagination: true,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true,
                autoPlay: 5000,
                navigationText: false,
                autoHeight: true
            });
            $("#owl-logopro").owlCarousel({
                navigation: false,
                navigationText: false,
                pagination: false,
                items: 5,
                autoPlay: true,
                autoPlay: 5000
            });
        });
        var a = $('.img-sp').height() / 2 - $('.item-con').height() / 2;
        $('.item-con').css("margin-top", a);


        jQuery.fn.vjustify = function () {
            var maxHeight = 0;
            this.each(function () {
                if (this.offsetHeight > maxHeight) { maxHeight = this.offsetHeight; }
            });
            this.each(function () {
                jQuery(this).height(maxHeight + "px");
                if (this.offsetHeight > maxHeight) {
                    jQuery(this).height((maxHeight - (this.offsetHeight - maxHeight)) + "px");
                }
            });
        };

        function runOnLoad(f) {
            if (runOnLoad.loaded) f();
            else runOnLoad.funcs.push(f);
        }
        runOnLoad.funcs = [];
        runOnLoad.loaded = false;
        runOnLoad.run = function () {
            if (runOnLoad.loaded) return;
            for (var i = 0; i < runOnLoad.funcs.length; i++) {
                try { runOnLoad.funcs[i](); }
                catch (e) { / An exception in one function shouldn't stop the rest / }
            }
            runOnLoad.loaded = true;
            delete runOnLoad.funcs;
            delete runOnLoad.run;
        };
        if (window.addEventListener)
            window.addEventListener("load", runOnLoad.run, false);
        else if (window.attachEvent) window.attachEvent("onload", runOnLoad.run);
        else window.onload = runOnLoad.run;
        runOnLoad(function () {
            jQuery(".fixheight").vjustify();
        });
    </script>
</head>
<body>
    <div id="mm-0" class="mm-page mm-slideout">
        <div class="wapper">
            @Html.Action("Header", "Home")
            @Html.Action("Menu", "Home")
            @RenderBody()
            @Html.Action("Footer", "Home")
        </div>
    </div>
    @*<a id="back-to-top2" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click để lên đầu trang" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-menu-up"></span><span class="glyphicon glyphicon-menu-up icon2"></span></a>*@
    <script type="text/javascript">
        $(function () {
            $('nav#menu').mmenu();
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top2').fadeIn();
            } else {
                $('#back-to-top2').fadeOut();
            }
        });
    </script>
</body>
</html>