<div class="header-top">
    <div class="container">
        <div style="padding-top: 15px" class="row">

            <div class="col-md-4">
                <p>
                    <span>A: Số 78, Đường Giải Phóng, Quận Đống Đa, Hà Nội</span>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <span>E: pcc@@bachmai.edu.vn</span>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <span>P: 024.869.3731 (Máy lẻ 6821)</span>
                </p>
            </div>
            <div class="col-md-2" align="right" style="padding-right:0px;">
                <a href="#"><img src="/Areas/Admin/Content/Images/logo/Eng-Flag.png" /></a>
                <a href="#"><img src="/Areas/Admin/Content/Images/logo/Viet-Flag.png" /></a>
            </div>
        </div>
    </div>

</div>