@model List<OsWebsite.Models.Menu>
@{
    string link = System.IO.Path.GetFileNameWithoutExtension(Request.RawUrl);
    var Language = ViewBag.Language as List<OsWebsite.Models.Language>;
}
<div class="header-top">
    <div class="container">
        <div style="padding-top: 15px" class="row">

            <div class="col-md-4">
                <p>
                    <span>A: Số 78, Đường Giải Phóng, Quận Đống Đa, Hà Nội</span>
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    <span>E: pcc@@bachmai.edu.vn</span>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <span>P: 024.869.3731 (Máy lẻ 6821)</span>
                </p>
            </div>
            <div class="col-md-2" align="right" style="padding-right:0px;">
                @foreach (var item in Language)
                {
                    <a href="@Url.Action("ChangeLang","Home",new { @IDLang = item.IDLang})"><img src="@item.IconLang" /></a>
                }
            </div>
        </div>
    </div>

</div>