@model List<OsWebsite.Models.Advertise>
<div class="banner-social" style="padding: 0">
    <div style="style="margin: 0px -15px!important"">
        @foreach (var item in Model)
        {
            <a target="_blank" href="@item.Link">
                <img style="width: 100%" class="img img-responsive" src="@item.Image" alt="@item.Name" />
            </a>
        }
    </div>
</div>