<div class="thongtinthem col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 60px">
    <div style="background: #525252;">
        <ul>
            @foreach (var item in ViewBag.MenuIdStaff)
            {
                <li class="dichvu-yte">
                    <i class="fa fa-caret-right"></i>
                    <a style="font-size: 18px; font-weight: bold" href="@item.Link">
                        @item.Name
                    </a>

                </li>
            }
        </ul>     
    </div>
    @Html.Action("Social_Banner", "Home")
</div>
