<div style="background: #525252;" class="kienthucchung">
    <ul>
        @foreach (var item in ViewBag.Group)
        {
            if (item.IDCha == 0)
            {
                <li class="congdong">
                    <a class="dropdown-top-right" style="font-size: 18px; font-weight: bold">
                        <i class="fa fa-caret-right"></i>
                        @item.Name
                    </a>
                    <ul class="" style="padding-left: 20px;">
                        @foreach (var child_item in ViewBag.Group)
                        {
                            if (child_item.IDCha == item.ID && child_item.Position == 3)
                            {
                                <li class="sub-congdong">
                                    <img src="@child_item.Images" />
                                    <a href="@child_item.Link">
                                        @child_item.Name
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </li>
            }

        }

    </ul>
</div>