@media (max-width: 992px){
    .tinkhac{
        padding-left: 0px;
        padding-right: 0px;
    }
    .banner-social{
        margin-left: 15px;
    }
    .read-more{
        padding-top: 40px!important;
    }
    .thongtinthem{
        margin-top: 20px!important;
    }
    .box-right-vi, box-right-en
    {
        padding-left: 20px!important;
        padding-top: 20px;
    }
    .title-module-main p
    {
        padding-top: 20px;
    }
    .box-img-module img{
        height: 150px!important;
        width: 100%;
    }
    .banner-kyniem {
        display: none;
    }

    .header-top {
        display: none;
    }

    .box-menu {
        /*position: relative;*/
        min-height: 80px;
        top: 0px;
    }

    .box-menu-head {
        display: none;
    }

    .btnmenu-mobile {
        display: block !important
    }

    .box-logo h1 a img {
        width: 200px;
        text-align: left;
        margin: 10px 15px;
    }

    .title-about a {
        color: #5c7eb7 !important;
        line-height: 35px
    }

    .box-product-hot .box-item-product-hot .title-product-main a, .IdProduct-main {
        color: #333;
        text-decoration: none !important;
    }

    .IdProduct-main, .price-product-main {
        display: block;
        position: relative;
        margin-bottom: 10px;
        font-family: Arial;
    }

    .box-product-hot {
        background: #ffffff;
        padding: 20px 0px 10px;
    }

        .box-product-hot .title-about {
            background: #ffffff;
            padding: 0px 0px 10px;
            margin-top: 5px
        }

    .price-product-main {
        color: #5c7fb7;
    }

    .box-project .box-content-project .col-news-project {
        padding: 25px 25px 10px;
    }

    .box-item-project .col-img-project {
        padding-right: 7px;
        padding-left: 7px;
    }

    .box-item-project .col-text-project {
        margin-top: 10px;
    }

    .box-item-project .col-img-project .box-img-news {
        height: 140px;
    }

    .box-menu-footer {
        margin-bottom: 30px
    }

    .content-about-page {
        padding: 10px 15px;
        margin: 10px;
    }

    .box-contact-page {
        margin-left: 0px
    }

    .col-img {
        padding: 0px 15px;
    }

        .col-img .box-img {
            height: 300px;
            margin-bottom: 20px;
        }

    .box-btn-cart a {
        margin: 0px 0px 10px;
    }

    .box-copyright {
        padding: 10px 15px 10px;
    }

    .box-copyright1,
    .box-copyright2,
    .box-copyright3 {
        text-align: center !important;
        margin-bottom: 5px
    }

    #owl-about {
        display: none !important
    }

    .box-about-text {
        width: 100%;
    }

    .box-product-hot .box-item-product-hot img,
    .box-content-product-page .box-item-product-hot .box-img-product img {
        height: 200px;
        width: 100%;
    }

    .banner-page {
        display: block;
        padding-top: 110px;
    }

    .box-project {
        padding-top: 0px
    }
}

